<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css">
		<link rel="stylesheet" href="https://water-css-custom.piemadd.repl.co/style.css">
	</head>
	<body>
	<%- marked %>
	</body>
</html>